nav
{
   background : #DCDCDC;
   color : #7B68EE;
   text-align: center;
   width : 100%;
   height : 55px;
}

#logo
{
   position:relative;
		left: 400px;
}

footer
{
   float : center;
   position : absolute;
   bottom: 0px;
   background : #DCDCDC;
   color : #7B68EE;
   text-align: center;
   width : 100%;
   height : 55px;

}

/* Page Contact */

#gauche
{
float : left;
}

#droite
{
margin-left: 600px;
margin-top : 53px;
}

#formulaire
{
background : #DCDCDC;
margin-top : 150px;
}
#message
{
 width : 600px;
}

label{

   display: block;
    width: 150px;
    float: left;
}
/* Fin page Contact */

#img_produit
{
margin-top : 75px;
float : left;
}

#texte_produit
{
float : left;
margin-top : 180px;
margin-left : 150px;
}

#ecran
{
float : left;
width : 50px
height : 50px;
}

#logoProduit
{
position : absolute;
top : 150px;
left : 50px;
}
#ProduitCheck
{
position : absolute;
top : 400px;
left : 700px;
}
